<!DOCTYPE HTML>

<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Sourav Goswami (gosour)</title>
	<meta name="viewport" content = "width=device-width, intial-scale=1.0">
	<meta name="author" content="Sourav Goswami"/>
	<meta name="description" content="My personal homepage"/>
	
	<link href="stylesheets/bootstrap.css" rel="stylesheet">
	<link href="stylesheets/bootstrap-responsive.css" rel="stylesheet">
	<link  href="stylesheets/homepage.css" rel="stylesheet">
	<style>
	body{
		background-image: url('esheresque.png');
	}
	</style>
</head>

<body>
	<div class="container">
		<div class="hero-unit">
			<h1> Happy Birthday! </h2>
		</div>
		<img src="images/soaweome.png" class="img-polaroid"><br>
		<div class="hero-unit">THAT</div>
		<img src="images/youpaste.png" class="img-polaroid"><br>
		<div class="hero-unit">Also..</div>
		<img src="images/facebook.png" class="img-polaroid"><br>
		<div  class="hero-unit">But not me</div>
		<img src="images/special.png" class="img-polaroid"><br>
		<div class="hero-unit">Don't think this is a cheap way to excuse myself from giving a gift.
			<br>What I give you is a promise, that no one else can give ..</div>
		<img src="images/trapped.png" class="img-polaroid"><br>
		<img src="images/eatyou.png" class="img-polaroid"><br>
		<br><br><br>
		<div class="hero-unit">HAVE A BLAST!!</div>
	</div>



</body>