<!DOCTYPE html>

<html>
  <head>
    <title>YO! Are you???</title>

    <link href="stylesheets/bootstrap.css" rel="stylesheet">
    <link href="stylesheets/bootstrap-responsive.css" rel="stylesheet">
    <style type="text/css">
      .label {text-align: right}
      .error {color: red}
    </style>

  </head>

  <body>
    
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand">Sourav Goswami</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
              
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container" style="margin-top:80px;">
      <h1>YO! Is it really your birthday? Only one way to check out. Using my ultra high petname to birthday hash table lookup</h1>
      <form method="post">
           <label>  What's your petname? </label>
           <input type="text" name="username" value="{{username}}">
          
           <br>
           <button class="btn btn-medium" type="submit">Answer</button>
      </form>

      <div class="error">{{error}}</div>
    </div>
  </body>

</html>
